[Unit]
Description=Nodejs application server
After=network.target
[Service]
WorkingDirectory=/home/{{ inventory_hostname[:10] }}/bootcamp/
ExecStart=/usr/bin/npm run dev
Type=simple
Restart=on-failure
RestartSec=10
[Install]
WantedBy=multi-user.target